<% layout("/layouts/boilerplate.ejs") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <br><br>
            <h3>Add New Car</h3>
            <form method="POST" action="/listings" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listing[title]" placeholder="Enter title" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" placeholder="Enter description" class="form-control" required></textarea>
                </div>
                <div class="mb-3">
                    <label for="images" class="form-label">Upload Car Images</label>
                    <input type="file" name="listing[images]" class="form-control" multiple required>
                </div>
                <button class="btn btn-dark add-btn">Add</button>
            </form>
        </div>
    </div>
</body>